{% extends "base.html" %}

{% block app_content %}
    {% if not items %}
        <div>
            <p><b>No items found in data base</b></p>
        </div>
    {% else %}

        <div>
            <table class="table table-hover">
                    <tr>
                        <td>Name</td>
                        <td>Price</td>
                        <td>Store Id</td>
                    </tr>
            {% for item in items %}
                <tr>
                    {% include 'items/item.html' %}
                </tr>
            {% endfor %}
            </table>
        </div>

    {% endif %}
{% endblock %}