{% extends "base.html" %}

{% block app_content %}

        {% if current_user.is_anonymous %}
                <h1><center>Not log in</center></h1>
        {% else %}
                <h1><center>Hello, {{ current_user.username }}!</center></h1>
        {% endif %}

        <hr/>
        {% for post in posts %}
            <div><p>
                <b>Content : </b>
                {{ post.body }}
            </p>
            <p>
                Poted by : {{ post.author.username }}
            </p>
            </div>
        {% endfor %}

 <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}